.menu-container {
    position: relative;
    display: flex;
    border-bottom: 2px solid #ccc;
    overflow: hidden;
}

.menu {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
}

.menu.selected {
    color: #227bff;
}

.sliding-bar {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #227bff;
    transition: width 0.3s ease, left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
